/**
 * @file grid12-mobile.css
 * Fusion Grid Layout - 12 column grid, mobile layout
 * -------------------------------------------------------------------- */

/* grid widths */
.region,
.block,
.nested,
.grid12-1,.grid12-2,.grid12-3,.grid12-4,.grid12-5,.grid12-6,
.grid12-7,.grid12-8,.grid12-9,.grid12-10,.grid12-11,.grid12-12 {
  clear: both;
  width: 100% !important;
}

/* gutters (2 x margin) */
.gutter {
  margin-left: 10px;
  margin-right: 10px;
}

/* page min width */
body,
div.full-width {
  min-width: 320px;
}

#grid-mask-overlay .block .gutter {
  background-color: rgba(255,231,0,.1);
  outline: none;
}
body.grid-mask-enabled #grid-mobile {
  display: block;
}