/**
 * @file grid12-480.css
 * Fusion Grid Layout - 12 column grid, 480px width, 20px gutters
 * -------------------------------------------------------------------- */

/* grid widths */
.grid12-1 {width: 40px;}
.grid12-2 {width: 80px;}
.grid12-3 {width: 120px;}
.grid12-4 {width: 160px;}
.grid12-5 {width: 200px;}
.grid12-6 {width: 240px;}
.grid12-7 {width: 280px;}
.grid12-8 {width: 320px;}
.grid12-9 {width: 360px;}
.grid12-10 {width: 400px;}
.grid12-11 {width: 440px;}
.grid12-12 {width: 480px;}

/* block indents */
.grid12-indent-1 {margin-left: 40px;}
.grid12-indent-2 {margin-left: 80px;}
.grid12-indent-3 {margin-left: 120px;}
.grid12-indent-4 {margin-left: 160px;}
.grid12-indent-5 {margin-left: 200px;}
.grid12-indent-6 {margin-left: 240px;}
.grid12-indent-7 {margin-left: 280px;}
.grid12-indent-8 {margin-left: 320px;}
.grid12-indent-9 {margin-left: 360px;}
.grid12-indent-10 {margin-left: 400px;}
.grid12-indent-11 {margin-left: 440px;}

/* gutters (2 x margin) */
.gutter {
  margin-left: 5px;
  margin-right: 5px;
}

/* page min width */
body,
div.full-width {
  min-width: 480px;
}

#grid-mask-overlay .block .gutter {
  background-color: rgba(255,203,64,.15);
  outline: none;
}

body.grid-mask-enabled #grid-480 {
  display: block;
}