/**
 * @file
 * Breadcrumb
 */
#breadcrumb .breadcrumb {
  margin-top: .3em;
  white-space: nowrap;
}
#breadcrumb a {
  vertical-align: middle;
  font-size: 0.8em;
  vertical-align: middle;
  color: white;
}
@media (max-width: 53em) {
  #breadcrumb a {
    font-size: 0.7em;
  }
}
#breadcrumb a:hover {
  text-shadow: 0 0 10px white, 0 0 10px white;
}
#breadcrumb .separator {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNqEUsENwjAMjKIO0D8vXnwzAmxQNmglBmADYIMOgJSM0A1YIV9e8OGfEbAjB7mWEyxZrWLf9e5Ss7k/B+jeNArmY21moR30C5Zcg8PD3NcIsFDBA5b2DZIRSaRay94LydgioZ2eEyRF7lWc8R1HJNmy/Zx2MzxvAnARng/QUSPJFoAEvzgpcg3No0KCNgbLlgItJc08zBPNQy1EUwMLklV14mfxjZ8p3xL5Xyug1CU4MLBTwKhmsTA8Y+oCPINcHqoEvzEPDLejNHlNFKgRiZeKBE4yRDw4KmBeCwfzEFOR1AAHYetHgKCtdkV/bOX6CjAAc3JmFSSZeY0AAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin: 0 .5em -0.3em .5em;
  width: 16px;
}
#breadcrumb .breadcrumb-link {
  display: inline-block;
  margin: 0 0 .5em;
}
